* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-panel {
    flex: 1;
}

.left-panel img {
    height: 100%;
    width: 80%;
    object-fit: cover;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form-container {
    width: 60%;
    text-align: center;
}

.avatar {
    width: 100px;
    height: 100;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    background-color: #fff;
    border: gray solid 1px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}

input:focus {
    outline: none;
}

.forgot-password {
    margin-top: 20px;
    font-size: 14px;
}
.boton{
    background: linear-gradient(90deg, #5f2c82, #49a09d);
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.boton:hover {
    background: linear-gradient(90deg, #6d3b93, #58b3b0);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}